@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --themeBackground: 0 0% 100%;
  --primary: 120 100% 25%;
  --themeForeground:  0 0% 0%;
}

.dark {
  --themeBackground: 0 0% 0%;
  --primary: 0 0% 100%;
  --themeForeground:  0 0% 100%;
}

.blue {
  --themeBackground: 210 97% 27%;
  --primary: 205 100% 25%;
  --themeForeground:  0 0% 100%;
}

* {
  @apply m-0 p-0 box-border text-[14px] md:text-[16px] leading-normal;
}

h1 {
  @apply border-b py-1 border-white text-center w-[90%] mx-auto;
}

.sectionContainer{
  @apply w-full p-2 h-screen bg-themeBackground text-themeForeground;
}
.actionBtn{
  @apply bg-themeForeground text-themeBackground font-medium px-6 py-2 rounded-[5px] hover:bg-themeForeground/80
}

/* Custom Styles for AddNewBlog.jsx Page */
.iconDiv{
  @apply size-10 rounded-[8px] flex justify-center items-center bg-[#F1F5FF] border hover:border-[#8CACFF] cursor-pointer
}
.iconInputArea{
  @apply w-[10%] rounded-[5px] flex justify-between items-center bg-[#F1F5FF] border-2 border-inherit hover:border-[#8CACFF]  cursor-pointer
}

.modalDashedArea{
  @apply bg-[#F4F4FF] w-full gap-4 border border-dashed flex justify-center text-center flex-col mx-auto rounded-[5px] my-5 items-center border-[#7075FF] py-4
}