@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --themeBackground: 0 0% 100%;
  --primary: 120 100% 25%;
  --themeForeground:  0 0% 0%;
}

.dark {
  --themeBackground: 0 0% 0%;
  --primary: 0 0% 100%;
  --themeForeground:  0 0% 100%;
}

.blue {
  --themeBackground: 236 98% 41%;
  --primary: 205 100% 25%;
  --themeForeground: 179 100% 90%;
}


* {
  @apply m-0 p-0 box-border text-[14px] md:text-[16px] leading-normal;
}

h1 {
  @apply border-b py-1 border-white w-[90%] mx-auto;
}

.sectionContainer{
  @apply w-full p-2 h-screen bg-themeBackground text-themeForeground;
}